# Python and jupyter files
**/__pycache__/
**/.pytest_cache/

# Setup files
madcubapy.egg-info/

# Build files
build/

# Virtual environment
.venv-madcubapy/
.venv-minimum/

# VSCode
.vscode/

# idea
.idea/

# Distribution files
dist/

# Sphinx-gallery
docs/source/gallery_examples
docs/source/gallery_tutorials
docs/source/sg_execution_times.rst

# Tests notebook to quickly check new code
tests.ipynb

# mac stuff
.DS_Store
*/.DS_Store
