# Python and jupyter files
**/__pycache__/
**/.pytest_cache/

# Setup files
madcubapy.egg-info/

# Build files
build/

# Virtual environment
.venv-madcubapy/

# VSCode
.vscode/

# Distribution files
dist/